// _typography.scss

html {
    font-size: 62.5%;
    font-size: (10/16) * 1em;
    font-family: $sans-serif;
}

body {
    font-size: 100%;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include font-size(22, 32);
    font-weight: 400;
}

h2 {
    font-weight: 700;
    @include font-size(16, 20);
}

label {
    font-weight: 700;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@include from-breakpoint(medium) {
    #account-nav,
    #secondary-nav,
    .page-nav .about {
        @include font-size(14);
    }
}

.account-settings .edit-cta {
    @include font-size(14, 20);
}

.note {
    @include font-size(14);
}

#footer {
    @include font-size(14, 20);
}

#footer button {
    @include font-size(16, 24);
}

.error-message {
    @include font-size(14);
}

#account-nav .pos-selector div {
    @include font-size(18);
}

#phone-overlay {
    @include font-size(12);
}

.number {
    @include font-size(14);
}

.booking h3 {
    @include font-size(20);
    font-weight: 400;
}

.booking-date {
    @include font-size(12);
    text-transform: uppercase;
}

.booking-contact,
.booking-confirmation {
    @include font-size(14);
}

#past-bookings-heading {
    @include font-size(14);
    font-weight: 400;
    text-transform: uppercase;
}
