// _variables.scss

// Fonts
$sans-serif: 'Noto Sans', arial, sans-serif;
$serif: serif;

// Colors
$greyishBrown: #555;
$white: #d8d8d8;
$warmGrey: #555;
$lightGrey: #f5f4f0;
$cerulean: #026dc5;
$offWhite: #fffffe;
$otherGrey: #999;
$red: #d41200;

$navBackground: #262626;
$navLinks: $offWhite;
$navText: #c1c1c1;

$banner-gradient-top: #f61800;
$banner-gradient-bottom: #d41200;
$banner-border-bottom: #9c0c1e;

$nav-separator: #ddd;
$footer-separator: #bbb;
$avatar-border: #eee;
