@charset 'utf-8';

@import '../../bower_components/normalize-scss/_normalize';
@import '_variables';
@import '_mixins';
@import '_typography';
@import '_icons';
@import '_forms';

* {
    box-sizing: border-box;
}

* + * {
    margin-top: 1em;
}

body {
    background-color: $lightGrey;
    color: $warmGrey;
}

h2 {
    color: $warmGrey;
}

a {
    color: $cerulean;
    text-decoration: none;
}

button, .btn {
    background-color: transparent;
    border: 1px solid $cerulean;
    border-radius: 6px;
    color: $cerulean;
    display: inline-block;
    padding: .5em;
}

button.primary, .btn.primary {
    background-color: $cerulean;
    color: $offWhite;
}

.hidden,
.signed-out .member,
.signed-in .anon {
    display: none !important;
}

main,
footer,
#account-nav,
#banner .avatar {
    transition: opacity .1s ease-out;
}

.limbo main,
.limbo footer,
.limbo #account-nav,
.limbo #banner .avatar {
    opacity: 0;
}

main,
footer,
.fullwidth-inner {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
}

#banner {
    background-color: #d41200;
    margin-top: 0;
    min-height: 58px;
    position: relative;
    text-align: center;

    @include from-breakpoint(medium) {
        text-align: left;
    }
}

#nav-toggle {
    position: absolute;
    top: 8px;
    left: 8px;
    margin-top: 0;
    color: $offWhite;
    height: 40px;
    width: 40px;
    @include font-size(20, 40);
    @include from-breakpoint(medium) {
        display: none;
    }
}

#account-nav {
    background-color: $navBackground;
    color: $navText;
    display: none;
    padding: 0 16px;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    z-index: 1;

    &.expanded {
        display: block;
    }
}

#account-nav .extended {
    display: none;
}

#account-nav a {
    color: $navLinks;
}

#account-nav ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}

#account-nav .pos-selector {
    border-top: 1px solid $navText;
    display: flex;
    margin: 2em -1em 0;
    padding: 0;
}

#account-nav .pos-selector div {
    display: inline-block;
    margin-top: 0;
    padding: 1em 0;
    text-align: center;
    width: 50%;
}

#account-nav .pos-selector div + div {
    border-left: 1px solid $navText;
}

.gb-flag {
    background-image: url(../images/flags.png);
    background-position: 0 -520px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    width: 16px;
}

#banner .username {
    color: $offWhite;
    margin-top: 0;
    position: absolute;
    top: 11px;
    right: 16px;
}

#account-nav .avatar-wrap {
    position: relative;
}

#account-nav .avatar {
    top: -20px;
    left: -28px;
    margin: 0;
}

@include from-breakpoint(medium) {
    #account-nav {
        background-color: transparent;
        display: block;
        margin: 0;
        padding: 0;
        top: 8px;
        bottom: 0;
        left: auto;
        right: 16px;
    }

    #account-nav .dropdown {
        display: none;
    }

    #account-nav .extended {
        display: block;
        margin-top: 0;
    }

    #account-nav li {
        color: $offWhite;
        display: inline-block;
    }

    #account-nav li + li {
        margin-left: .5em;
    }

    #account-nav a {
        color: $offWhite;
    }

    #banner .username {
        display: none;
    }
}

#banner .logo {
    margin-top: -62px;

    @include from-breakpoint(small) {
        margin-left: -42px;
    }
}

#secondary-nav {
    display: none;
}

@include from-breakpoint(medium) {
    #secondary-nav {
        background-color: #262626;
        color: $offWhite;
        display: block;
        margin-top: 0;
        position: relative;
    }

    #secondary-nav a {
        color: $offWhite;
    }

    #secondary-nav ul {
        list-style: none;
        padding: 0 16px 16px;
    }

    #secondary-nav li {
        display: inline-block;
    }

    #secondary-nav li + li {
        margin-left: .5em;
    }

    #secondary-nav .right {
        float: right;
        margin-left: 0;
    }

    #secondary-nav .right + .right {
        margin-right: .5em;
    }
}

main {
    background-color: $offWhite;
    margin-top: 0;
}

main.nonwhite {
    background-color: $lightGrey;
}

h1 {
    color: $greyishBrown;
    margin: 0;
    padding: 16px;
    position: relative;
}

.avatar {
    background-color: #6b6b6b;
    border: 2px solid $offWhite;
    border-radius: 50%;
    height: 2em;
    margin-left: 16px;
    position: absolute;
    top: -.5em;
}

.avatar.anon {
    background-color: #fff;
}

.page-nav {
    border-bottom: 1px solid $nav-separator;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-nav li {
    background-image: url(../images/arrow.png);
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 11px 18px;
    border-top: 1px solid $nav-separator;
    margin-top: 0;
}

.page-nav a {
    color: $warmGrey;
    display: block;
    margin-right: 20px;
    padding: 16px;

    @include from-breakpoint(mediumlarge) {
        color: $cerulean;
    }
}

.page-nav a + a {
    margin-top: 0;
}

.page-nav .about {
    color: $warmGrey;
    display: none;
    margin-left: 1em;

    @include from-breakpoint(mediumlarge) {
        display: inline-block;
    }
}

#footer {
    margin-top: 0;
    padding-top: 16px;
}

#footer section {
    padding: 20px 16px;
}

#footer section + section {
    border-top: 1px solid $footer-separator;
    margin-top: 0;
}

#footer p {
    margin-top: 0;
}

.flex-buttons {
    display: flex;
    flex-wrap: nowrap;
}

.flex-buttons button {
    flex-grow: 1;
    max-width: 276px;
    width: 50%;
}

.flex-buttons button + button {
    margin-left: 1em;
}

.content-wrap {
    margin-top: 0;
    padding: 0 16px 16px;
}

.bookings {
    list-style: none;
    padding: 0;

    @include from-breakpoint(xlarge) {
        margin-right: 336px;
    }
}

.booking {
    border: 1px solid $footer-separator;
    background-color: white;
    color: $greyishBrown;
}

.booking-wrap {
    position: relative;
}

.booking-row {
    display: block;
    margin-top: 0;
    padding: 10px;
}

.booking-row + .booking-row {
    border-top: 1px solid $footer-separator;
}

.booking-thumbnail {
    background-color: #f5f4f0;
    height: 170px;
    position: relative;
    width: 100%;
}

.booking-thumbnail:before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #e5e3db;
    font-family: 'hcom-icons';
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    line-height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}

.booking-thumbnail a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.booking h3 {
    margin: 0 30px 0 0;
}

.booking-header {
    background-image: url(../images/arrow.png);
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 11px 18px;
}

.booking-contact {
    color: $warmGrey;
}

.booking-confirmation {
    color: #777;
}

.booking-date-wrap {
    margin: 0;
}

.booking-date-wrap + .booking-date-wrap {
    margin-top: 10px;
}

.booking-date {
    color: $warmGrey;
    display: block;
    margin-bottom: 6px;
}

.booking-attach {
    background-color: $lightTan;
    border-top: 1px solid $footer-separator;
    margin-top: 0;
    padding: 10px;
}

@include from-breakpoint(mediumlarge) {
    .booking {
        min-height: 170px;
        position: relative;
    }

    .booking-thumbnail {
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 255px;
    }

    .booking-row {
        margin-left: 255px;
    }

    .booking-row + .booking-row {
        border-top: 0;
    }

    .booking-row:nth-child(2) {
        border-bottom: 1px solid $footer-separator;
    }

    .booking-date-wrap {
        display: inline-block;
    }

    .booking-date-wrap + .booking-date-wrap {
        margin-top: 0;
        margin-left: 3em;
    }
}

#past-bookings-heading {
    color: #777;
    margin-top: 3em;
}

.note {
    color: $otherGrey;
}

.account-settings .note {
    margin-bottom: 1em;
}

.bookings-content {
    position: relative;
}

.bookings-filler {
    display: none;
    position: absolute;
    top: 24px;
    right: 16px;
    width: 320px;

    @include from-breakpoint(xlarge) {
        display: block;
    }
}

.facebook-signin {
    border-top: 1px solid $nav-separator;
    margin-top: 2em;
    padding-top: 1em;
}

@include from-breakpoint(medium) {
    .flex-forms {
        display: flex;
        flex-wrap: nowrap;
    }

    .formgroup {
        flex-grow: 1;
        margin-top: 0;
        width: 50%;
    }

    .signed-out .formgroup:first-child {
        border-right: 1px solid $nav-separator;
        margin-right: 2em;
        padding-right: 2em;
    }

    .signed-out .formgroup:nth-child(2) {
        padding-left: 2em;
    }
}

.account-settings {
    border-bottom: 1px solid $nav-separator;
    list-style: none;
    margin: 0;
    padding: 0;
}

.account-settings li {
    border-top: 1px solid $nav-separator;
    margin-top: 0;
    min-height: 93px;
    padding: 16px;
    position: relative;
}

.account-settings h2 {
    margin: 0;
    max-width: 65%;
}

.account-settings p {
    margin: 0;
}

.account-settings .summary {
    max-width: 65%;
}

.account-settings .edit-cta {
    margin-top: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 30%;
    text-align: right;
}

.account-settings .edit-form button {
    margin-top: 2em;
    width: 100%;
}

@include from-breakpoint(medium) {
    #footer-nav {
        display: none;
    }
}

#phone-toggle {
    cursor: help;
    padding-right: 20px;
    position: relative;
}

#phone-toggle .icon {
    position: absolute;
    top: 0;
    right: 0;
}

#phone-overlay {
    background-color: #fff;
    border: 2px solid $otherGrey;
    border-radius: 4px;
    box-shadow: $otherGrey 0 0 7px 0;
    color: #7e7e7e;
    padding: 10px;
    position: absolute;
    top: 20px;
    transition: opacity 0.1s ease-out;
    right: -17px;
    width: 310px;
    z-index: 1;
}

#phone-overlay:before,
#phone-overlay:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    border-width: 16px;
    height: 0;
    width: 0;
    position: absolute;
    right: 6px;
}

#phone-overlay:before {
    border-bottom-color: $otherGrey;
    top: -33px;
}

#phone-overlay:after {
    border-bottom-color: #fff;
    top: -30px;
}

#phone-overlay p {
    margin: 0;
}

#phone-overlay p + p {
    margin-top: 1em;
}

#phone-overlay .number {
    display: block;
    margin-bottom: 5px;
}

#feedback-form {
    margin-top: 0;
}

#feedback-form textarea + button {
    margin-top: 1em;
}

.small-dummy-content,
.large-dummy-content {
    margin-top: 0;
    width: 100%;
}

.large-dummy-content {
    display: none;
}

@include from-breakpoint(small) {
    .small-dummy-content {
        display: none;
    }
    .large-dummy-content {
        display: block;
    }
}

#payment-card-form,
#email-sent {
    display: none;
}

#phone-toggle {
    padding-right: 20px;
    position: relative;
}

#phone-toggle .icon {
    position: absolute;
    top: 0;
    right: 0;
}
