@charset 'utf-8';

@import '../../bower_components/normalize-scss/_normalize';
@import '_variables';
@import '_mixins';
@import '_typography';
@import '_icons';
@import '_forms';

* {
    box-sizing: border-box;
}

* + * {
    margin-top: 1em;
}

body {
    background-color: $lightGrey;
    color: $warmGrey;
}

h2 {
    color: $warmGrey;
}

a {
    color: $cerulean;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 1px solid $cerulean;
    border-radius: 6px;
    color: $cerulean;
    padding: .5em;
}

button.primary {
    background-color: $cerulean;
    color: $offWhite;
}

.hidden,
.signed-out .member,
.signed-in .anon {
    display: none !important;
}

#banner {
    background: linear-gradient(to bottom, $banner-gradient-top 0, $banner-gradient-bottom 100%);
    border-top: 1px solid $banner-gradient-bottom;
    border-bottom: 1px solid $banner-border-bottom;
    margin-top: 0;
    min-height: 58px;
    position: relative;
    text-align: center;

    @include from-breakpoint(mediumlarge) {
        text-align: left;
    }
}

#nav-toggle {
    position: absolute;
    top: 8px;
    left: 8px;
    margin-top: 0;
    color: $offWhite;
    height: 40px;
    width: 40px;
    @include font-size(20, 40);
    @include from-breakpoint(mediumlarge) {
        display: none;
    }
}

#account-nav {
    background-color: $navBackground;
    color: $navText;
    display: none;
    padding: 0 16px;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    z-index: 1;

    &.expanded {
        display: block;
    }
}

#account-nav .extended {
    display: none;
}

#account-nav a {
    color: $navLinks;
}

#account-nav ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}

#account-nav .pos-selector {
    border-top: 1px solid $navText;
    display: flex;
    margin: 2em -1em 0;
    padding: 0;
}

#account-nav .pos-selector div {
    display: inline-block;
    margin-top: 0;
    padding: 1em 0;
    text-align: center;
    width: 50%;
}

#account-nav .pos-selector div + div {
    border-left: 1px solid $navText;
}

.gb-flag {
    background-image: url(../images/flags.png);
    background-position: 0 -520px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    width: 16px;
}

#banner .username {
    color: $offWhite;
    margin-top: 0;
    position: absolute;
    top: 11px;
    right: 16px;
}

#account-nav .avatar-wrap {
    position: relative;
}

#account-nav .avatar {
    top: -20px;
    left: -28px;
    margin: 0;
}

@include from-breakpoint(mediumlarge) {
    #account-nav {
        background-color: transparent;
        display: block;
        margin: 0;
        padding: 0;
        top: 8px;
        bottom: 0;
        left: auto;
        right: 16px;
    }

    #account-nav .dropdown {
        display: none;
    }

    #account-nav .extended {
        display: block;
        margin-top: 0;
    }

    #account-nav li {
        color: $offWhite;
        display: inline-block;
    }

    #account-nav li + li {
        margin-left: .5em;
    }

    #account-nav a {
        color: $offWhite;
    }

    #banner .username {
        display: none;
    }
}

#banner .logo {
    margin-top: -62px;

    @include from-breakpoint(medium) {
        margin-left: -42px;
    }
}

#secondary-nav {
    display: none;
}

@include from-breakpoint(mediumlarge) {
    #secondary-nav {
        background-color: $lightGrey;
        display: block;
        margin-top: -16px;
    }

    #secondary-nav ul {
        list-style: none;
        margin: 0;
        padding: 16px;
    }

    #secondary-nav li {
        display: inline-block;
    }

    #secondary-nav li + li {
        margin-left: .5em;
    }

    #secondary-nav .right {
        float: right;
    }
}

main {
    background-color: $offWhite;
    margin-top: 0;
}

h1 {
    color: $greyishBrown;
    margin: 0;
    padding: 16px;
    position: relative;
}

.avatar {
    background-color: $offWhite;
    border: 1px solid $avatar-border;
    border-radius: 50%;
    height: 2em;
    margin-left: 16px;
    position: absolute;
    top: .5em;
}

.page-nav {
    border-bottom: 1px solid $nav-separator;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-nav li {
    background-image: url(../images/arrow.png);
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 11px 18px;
    border-top: 1px solid $nav-separator;
    margin-top: 0;
}

.page-nav a {
    color: $warmGrey;
    display: block;
    margin-right: 20px;
    padding: 16px;

    @include from-breakpoint(mediumlarge) {
        color: $cerulean;
    }
}

.page-nav .about {
    color: $warmGrey;
    display: none;
    margin-left: 1em;

    @include from-breakpoint(mediumlarge) {
        display: inline-block;
    }
}

#footer {
    margin-top: 0;
    padding-top: 16px;
}

#footer section {
    padding: 20px 16px;
}

#footer section + section {
    border-top: 1px solid $footer-separator;
    margin-top: 0;
}

#footer p {
    margin-top: 0;
}

.flex-buttons {
    display: flex;
    flex-wrap: nowrap;
}

.flex-buttons button {
    flex-grow: 1;
    max-width: 276px;
}

.flex-buttons button + button {
    margin-left: 1em;
}

.content-wrap {
    margin-top: 0;
    padding: 0 16px 16px;
}

.bookings {
    list-style: none;
    padding: 0;

    @include from-breakpoint(large) {
        margin-right: 336px;
    }
}

.booking {
    border: 1px solid $warmGrey;
    color: $greyishBrown;
}

.booking h3 {
    margin-top: 0;
}

.booking a {
    display: block;
    padding: 16px;
}

.booking.cancelled {
    background-color: $lightGrey;
}

.note {
    color: $otherGrey;
}

.account-settings .note {
    margin-bottom: 1em;
}

.bookings-content {
    position: relative;
}

.bookings-filler {
    display: none;
    position: absolute;
    top: 24px;
    right: 16px;
    width: 320px;

    @include from-breakpoint(large) {
        display: block;
    }
}

.facebook-signin {
    border-top: 1px solid $nav-separator;
    margin-top: 2em;
    padding-top: 1em;
}

@include from-breakpoint(mediumlarge) {
    .flex-forms {
        display: flex;
        flex-wrap: nowrap;
    }

    .formgroup {
        flex-grow: 1;
        margin-top: 0;
        width: 50%;
    }

    .signed-out .formgroup:first-child {
        border-right: 1px solid $nav-separator;
        margin-right: 2em;
        padding-right: 2em;
    }

    .signed-out .formgroup:nth-child(2) {
        padding-left: 2em;
    }
}

.account-settings {
    border-bottom: 1px solid $nav-separator;
    list-style: none;
    margin: 0;
    padding: 0;
}

.account-settings li {
    border-top: 1px solid $nav-separator;
    margin-top: 0;
    min-height: 93px;
    padding: 16px;
    position: relative;
}

.account-settings h2 {
    margin: 0;
    max-width: 65%;
}

.account-settings p {
    margin: 0;
}

.account-settings .summary {
    max-width: 65%;
}

.account-settings .edit-cta {
    margin-top: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 30%;
    text-align: right;
}

.account-settings .edit-form button {
    margin-top: 2em;
    width: 100%;
}

@include from-breakpoint(mediumlarge) {
    #footer-nav {
        display: none;
    }
}
