<header id="banner" role="banner">
  <img class="logo" src="images/hotels_com_logo_en_GB.png" width="270px" />
  <a id="nav-toggle" href="#" class="icon">&#xe035;</a>
  <nav id="account-nav">
    <ul class="dropdown">
      <li><a href="home.html">Home</a></li>
      <li><a href="#">Local deals for tonight</a></li>
      <li class="member">Jackson Howard:</li>
      <li>
        <a class="anon" href="find-bookings.html">Your bookings</a>
        <a class="member" href="bookings.html">Your bookings (1)</a>
      </li>
      <li><a href="rewards.html">Hotels.com Rewards</a></li>
      <li>
        <a class="anon" href="#">Sign in</a>
        <a class="member" href="index.html">Your Account</a>
      </li>
      <li><a href="help.html">Help</a></li>
      <li class="member"><a href="#">Sign out</a></li>
    </ul>
    <ul class="extended">
      <li class="member">Jackson Howard:</li>
      <li>
        <a class="anon" href="#">Sign in</a>
        <a class="member" href="index.html">Your Account</a>
      </li>
      <li><a href="rewards.html">Hotels.com Rewards</a></li>
      <li><a href="help.html">Help</a></li>
      <li>
        <a class="anon" href="find-bookings.html">Your bookings</a>
        <a class="member" href="bookings.html">Your bookings (1)</a>
      </li>
    </ul>
  </nav>
  <span class="member username">Jackson Howard</span>
</header>
