<footer id="footer">
  <section>
    <p>Did you accomplish what you wanted to do on this page?</p>
    <div class="flex-buttons">
      <button>Yes</button>
      <button>No</button>
    </div>
  </section>
  <section>
    <p><a href="#">Check out our help and support articles about *topic*</a></p>
    <p>Still need help with *topic*? Call us on <a href="#">123 456789</a></p>
  </section>
  <section id="footer-nav">
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="#">Local deals for tonight</a></li>
      <li class="member">Jackson Howard:</li>
      <li>
        <a class="anon" href="find-bookings.html">Your bookings</a>
        <a class="member" href="bookings.html">Your bookings (1)</a>
      </li>
      <li>
        <a class="anon" href="rewards-pillar.html">Hotels.com Rewards</a>
        <a class="member" href="rewards-activity.html">Hotels.com Rewards</a>
      </li>
      <li>
        <a class="anon" href="#">Sign in</a>
        <a class="member" href="index.html">Account settings</a>
      </li>
      <li><a href="help.html">Help</a></li>
      <li class="member"><a href="#">Sign out</a></li>
    </ul>
  </section>
</footer>
