<footer id="footer">
  <section id="feedback">
    <p class="feedback-hideme">Did you find this page useful?</p>
    <div class="feedback-hideme flex-buttons">
      <button class="feedback-yes">Yes</button>
      <button class="feedback-no">No</button>
    </div>
    <div id="feedback-thanks" class="hidden">Thanks!</div>
    <div id="feedback-form" class="hidden">
      <textarea rows="5"></textarea>
      <button class="feedback-yes">Submit</button>
    </div>
  </section>
  <section>
    <p><a href="#">Check out our help and support articles on [TOPIC]</a></p>
    <p>Still need help with [TOPIC]? Call us on <a href="#">123 456789</a></p>
  </section>
  <section id="footer-nav">
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="#">Local deals for tonight</a></li>
      <li class="member"><span class="profile-username">Jo</span> Smith:</li>
      <li>
        <a class="anon" href="find-bookings.html">Your bookings</a>
        <a class="member" href="bookings.html">Your bookings <span class="bookings-active-count"></span></a>
      </li>
      <li>
        <a class="anon" href="rewards-pillar.html">Hotels.com Rewards</a>
        <a class="member" href="rewards-activity.html">Your Hotels.com Rewards</a>
      </li>
      <li class="member"><a href="index.html">Account settings</a></li>
      <li><a href="help.html">Help</a></li>
      <li><a href="#">Call customer service</a></li>
      <li>
        <a class="anon" href="#" onclick="window.goToSignInPage();">Sign in</a>
        <a class="member" href="#" onclick="window.signOut(true);">Sign out</a>
      </li>
    </ul>
  </section>
</footer>
