<div id="secondary-nav">
  <ul>
    <li><a href="home.html">Home</a></li>
    <li>Hotel deals</li>
    <li>Packages and flights</li>
    <li>Groups</li>
    <li>Gift cards</li>
    <li id="phone-toggle" class="right icon">
      Book online or call &#xe60c;
      <div id="phone-overlay" class="hidden">
        <p><strong class="number">0800 028 3906</strong>FREE from a landline 24 hours a day, 7 days a week</p>
        <p><span class="number">020 3024 8216</span>At standard rates 24 hours a day, 7 days a week</p>
      </div>
    </li>
  </ul>
</div>
